# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
venv/
env/
.venv/
.env/

# Spotipy cache
.cache
config.ini

.ipynb_checkpoints/

*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Environment variable files (if you use .env for secrets)
.env

# VSCode settings (optional)
.vscode/

# Python egg files
*.egg
*.egg-info/

# Compiled C files (optional)
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.manifest

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/
.pytest_cache